doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href='/style.css')
  body

    div.container
      h3.js-active=`Buzz :`
      ol.js-buzzes(style='overflow: scroll; max-height: 150px; overflow-x: hidden;')
      
      <div class="c2" style="display: flex;">
        <div class="sound-box" id="correct"><audio id="correct_sound" preload="auto" src="/sound/correct.mp3"></audio><img src="image/correct.png" alt="" width="25"><p>Correct</p></div>
        <div class="sound-box" id="false"><audio id="false_sound" preload="auto" src="/sound/false.mp3"></audio><img src="image/false.png" alt="" width="25"><p>Faux</p></div>
        button.js-clear='Clear buzzes'
        <div id="play" class="sound-box" onclick="playSound()">
            <img src="./image/play.png" alt="" width="25px">
            <p>PLAY</p>
        </div>

        <div id="stop" class="sound-box" onclick="stopAllSounds()">
            <img src="./image/false.png" alt="" width="25px">
            <p>STOP SOUNDS</p>
        </div>
      </div>

      <div class="c2" style="display: flex;">
        <div class="sound-box" id="correct" onclick="addPoints(1)"><img src="image/correct.png" alt="" width="25"><p>+1 Point</p></div>
        <div class="sound-box" id="correct" onclick="addPoints(2)"><img src="image/correct.png" alt="" width="25"><p>+2 Points</p></div>
        <div class="sound-box" id="false" onclick="addBonusPoints(1)"><img src="image/correct.png" alt="" width="25"><p>+1 Bonus</p></div>
        <div class="sound-box" id="false" onclick="addPoints(-1)"><img src="image/false.png" alt="" width="25"><p>-1 Point</p></div>
        <div class="sound-box" id="false" onclick="addPoints(0)"><img src="image/next" alt="" width="25"><p>Passer</p></div>

      </div>

    table.score_table(id="scoreboard")
      thead
        tr
          th Team
          th Score
      tbody

    <div class="navbar"></div>

    <h1 id="num_played">0</h1>

    <div class="container_sound"></div>

    <div class="c2" style="display: flex;">
        <div id="stop" class="sound-box" onclick="stopAllSounds()">
            <img src="./image/false.png" alt="" width="25px">
            <p>STOP SOUNDS</p>
        </div>

        <div id="play" class="sound-box" onclick="playSound()">
            <img src="./image/play.png" alt="" width="25px">
            <p>PLAY</p>
        </div>

        <div id="pause" class="sound-box" onclick="pauseSound()">
            <img src="./image/pause.png" alt="" width="25px">
            <p>PAUSE</p>
        </div>


      

      

    script(src='/socket.io/socket.io.js')
    script(src='/host.js')
